* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;

}

.header {
    display: flex;
    gap: 25px;
    margin: 30px 50px;
}
.header h1{
    font-size: 3.5rem;
}
.header > .icon{
   align-self: center;
}
 .icon:hover {
    cursor: pointer;
}

.menu {
    flex-wrap: wrap;
}

img {
    width: 480px;
}

.food-menu {
    margin: 10px 50px;
}

.menu-header {
    border-bottom: 3px solid #7e8d91;
}

.menu-header,
.menu-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.menu-header h2 {
    font-size: 2.5rem;
    color: #1873e9;
}

.menu-header h2,
.menu-content h3 {

    margin-right: 200px;
}

.menu-header span {
    font-size: 1.5rem;
    align-self: center;
}

.menu-content h3 {
    font-size: 1.5rem;
}

.menu-content span {
    font-size: 1.5rem;
}

.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .form {
    background-color: #fff;
    min-width: 500px;
    padding: 20px;
    border-radius: 8px;

  }
  
  .dynamic-fields {
    display: flex;
    margin-top: 25px;
  }
  .form label, .form input {
    margin-bottom: 20px;
  }

  .add-more {
    cursor: pointer;
    color: #007bff;
    font-size: 24px;
    align-self: flex-start;
  }

  #display-area {
    margin-top: 20px;
  }

  .hidden {
    display: none;
}