* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --white: #fff;
    --gold: #ffd700 ;
    --background-1: #8fbbc6;
    --background-2: #bfe31d;
    --background-3: #c440a5;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
}

.container {
    border: 1px solid #b1a5a5;
    border-radius: 4px;
    background-color: var(--background-1);
    color: var(--white);
    max-width: 620px;
    height: 100vh;
    margin: 10px 5px;
}

.menu-header {
    border-bottom: 2px solid var(--white);
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.menu-header h1 {
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.menu-header span {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
    align-self: center;
}

.menu-content {
    margin: 5px 10px;
}

.menu-item {
    display: flex;
    padding: 8px 0;
    justify-content: space-between;
    gap: 20px;
}

.dish h2 {

    font-size: 25px;
    text-transform: uppercase;
}

.dish p {
    font-size: 16px;
    margin-top: 5px;
}

.price {
    align-self: end;
    font-size: 28px;
}