@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000;
    color: #fefefe;
    font-family: 'Protest Riot', sans-serif;
}

header {
    text-align: center;
    margin: 1.5rem;
}

.header-container {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

img {
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
}

.left-image-container,
.right-image-container {
    position: relative;
    max-width: 550px;
    margin: auto;
    overflow: hidden;

}

.left-image-container img,
.right-image-container img {
    width: 100%;
    display: none;

}

img.displaySlide{
    display: block;
}



.center-content-container {
    align-self: self-start;
    margin: 0 50px;


}

.center-content-container h2 {
    font-size: 6.3rem;
    margin: 10px 0 0 0;
    color: #f15301;
}

.center-content-container h1 {
    font-size: 5.3rem;
    text-transform: uppercase;
}

.center-content-container p {
    font-size: 1rem;
    font-weight: 100;
    margin: 0 100px;
    display: none
}

.icon-tabler-circle-plus {
    margin: 15px;
}

.icon:hover {
    cursor: pointer;
}

/* MENU STYLES */

.container-menu {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    color: #f15301;
    margin: 10px 0;
}

.menu-header span {
    font-size: 1.5rem;
    font-weight: lighter;
    align-self: center;
    text-transform: uppercase;
}

.menu-header-action {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.menu-header-action h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.menu-header-action h2:hover {
    cursor: pointer;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.menu-content h3 {
    font-size: 2rem;
    max-width: 300px;
}

.menu-content span {
    font-size: 1.8rem;
}








/* 
.container {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    gap: 25px;
    margin: 30px 20px;
}
.header h1{
    font-size: 3.5rem;
}
.header > .icon{
   align-self: center;
}
 .icon:hover {
    cursor: pointer;
}

.menu {
    flex-wrap: wrap;
}

.images img {
    width: 480px;
}

.food-menu {
    margin: 10px 20px;
    height: 100vh;
    width: 45%;
}

.menu-header {
    border-bottom: 3px solid #7e8d91;
}

.menu-header,
.menu-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.menu-header-action {
    display: flex;
}

.menu-header h2 {
    font-size: 2.5rem;
    color: #1873e9;
}

.menu-header h2,
.menu-content h3 {

    margin-right: 25px;
}

.menu-header span {
    font-size: 1.5rem;
    align-self: center;
}

.menu-content h3 {
    font-size: 1.5rem;
}

.menu-content span {
    font-size: 2rem;
    font-weight: 500;
}
*/

.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: #000;
}

.form {
    background-color: #fff;
    min-width: 500px;
    padding: 20px;
    border-radius: 8px;

}

.dynamic-fields {
    display: flex;
    margin-top: 25px;
}

.form label,
.form input {
    margin-bottom: 20px;
}

.add-more {
    cursor: pointer;
    color: #007bff;
    font-size: 24px;
    align-self: flex-start;
}

#display-area {
    margin-top: 20px;
}

.hidden {
    display: none;
}

@media (width <=900px) {
    .images {
        display: none;
    }

    .container {
        flex-direction: column;
        justify-content: space-between;
    }

    .header {
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .header>.icon {
        align-self: center;
        width: 34px;
        height: 34px;
    }

    .icon:hover {
        cursor: pointer;
    }

    .menu {
        flex-wrap: none;
    }

    .food-menu {
        margin: 10px auto;
        height: auto;
        width: 80%;
    }

    .menu-header {
        border-bottom: 3px solid #7e8d91;
    }

    .menu-header,
    .menu-content {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .menu-header h2 {
        font-size: 2rem;
        color: #1873e9;
    }

    .menu-header h2,
    .menu-content h3 {
        margin-right: 25px;
    }

    .menu-header span {
        font-size: 1.5rem;
        align-self: center;
    }

    .menu-content h3 {
        font-size: 1rem;
    }

    .menu-content span {
        font-size: 1rem;
        font-weight: 500;
    }


    .hidden {
        display: none;
    }
}